body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

#game-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto 30px;
}

button {
    background-color:  #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #af4c4c;
}

#regra {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

h3 {
    color: #2a2727;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background: #e7f3fe;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
